### Java / Maven ###
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/
mvnw
mvnw.cmd

### Angular (Front-end) ###
# Ignora a pasta de dependências (MUITO IMPORTANTE)
**/node_modules/
# Ignora a pasta de build do Angular
**/dist/
# Ignora cache do Angular
**/.angular/

### IDEs ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Sistema Operacional ###
Thumbs.db
.DS_Store